@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #e7e7e7;
}

.body a:hover {
    color: blue;
    cursor: pointer;
}

/* Nav */

nav {
    position: fixed;         /* Keeps nav bar on screen while scrolling */
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: .5s;
    z-index: 100;
}

nav.black {
    background: rgba(0, 0, 0, .8);
    height: 60px;
    padding: 10px 50px;
}

nav .nav-logo {
    float: left;
}

nav .nav-logo img {
    height: 60px;
    transition: .5s;
}

nav.black .nav-logo img {
    height: 40px;
}

nav ul {
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    line-height: 40px;
    color: #262626;
    padding: 5px 20px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    transition: .5s;
}

nav.black ul li a {
    color: white;
}

nav ul li a.active,
nav ul li a:hover {
    color: #fff;
    background: #f00;
}

section .sec1 {

}

/* Header */

header {
    background-color: black;
    background-image: url('pictures/header2.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 30px;
    padding: 20px;
    height: 565px;
}

header a {
    animation: ease-in;
    background: rgb(7, 5, 7);
    border-radius: 10%;
    color: #111;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 10px;
}

header .logo a {
    background: none;
    background-image: url(pictures/logo.png);
    background-size: 300px;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    height: 110px;
    width: 300px;
    top: -25px;
    text-indent: -10000px;
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header ul li {
    display: inline-block;
    margin-right: 5%;
}

header ul li:last-child {
    float: right;
}

header ul li:first-child {
    margin-left: 0;
}

header ul a:hover {
    text-decoration: underline;
}

/* responsive rules */

@media screen and (max-width: 1227px) {
    header {
        height: 400px;
    }
}

@media screen and (max-width: 950px) {
    header {
        height: 275px;
    }
}

@media screen and (max-width: 690px) {
    header {
        height: 250px;
    }
}

@media screen and (max-width: 595px) {
    header {
        height: 200px;
    }
}

/* MEGA MENU */

@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;            /* box-sizing: ensures padding & boarder get included into width of element */
    font-family: 'Ubuntu', sans-serif;
}

.wrapper {
    width: 100%;
}

.mega-menu {
    width: 100%;
    height: 60px;
}

.mega-menu ul {
    width: 100%;
    height: 100%;
    background: #181718;
    line-height: 59px;
    text-align: center;
    position: relative;
}

.mega-menu ul li {
    display: inline-block;
    margin: 0 15px;
    padding: 1px 15px 0 15px;
}

.mega-menu ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.705);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 12px;
    display: block;     /* disply: block; ensures cursor becomes pointer over whole element, not just over spript */
}

.mega-menu ul li .sub_menu {
    position: absolute;
    background: #c3e9f3;
    width: 100%;
    left: 0;
    top: 60px;
    padding: 25px 15px;
    display: flex;
    justify-content: space-around;
    line-height: 24px;
    visibility: hidden;
    z-index: 50;
}

.col p {
    text-transform: uppercase;
    text-decoration: solid;
    font-size: larger;
}

.mega-menu ul li:hover {
    background: #c3e9f3;

}

.mega-menu ul li:hover a{
    color: rgb(24, 21, 21);
}

.mega-menu ul li:hover .sub_menu{
    visibility: visible;
}

.mega-menu ul li .sub_menu .col img {
    width: 300px;
    height: 300px;
    display: block;
}

.mega-menu ul li .sub_menu p {
    color: black;
    margin-top: 15px;
    font-size: 14px;
}

/* /MEGA MENU */

/* Features */

.features {
    background: white;
    color: grey;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 100px;
}

.features figure {
    margin: auto;
    text-align: center;
    text-transform: uppercase;
}

.fade-in {
    opacity: 0;
    transition: opacity 600ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.features figure img {
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: grey 0 0 10px;
    width: 200px;
}

.features figure figcaption {
    max-width: 250px;
    margin: auto;
}

.hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

/* Responsive Rules */

@media screen and (max-width: 595px) {
    .features figure {
        position: relative;
        width: 50%;
        left: 25%;
        display: block;
        
        margin: 20px 0;       /* WARNING: position relative in this section will make megamenu dropdown to background */
    }
}

/* /features */

/* ABOUT ME */

.about-me {
    height: 800px;
    background: rgb(252, 234, 195);
}

.container {
    margin-left: auto;
    margin-right: auto;
    margin-left: 15px;
    margin-right: 15px;
    box-sizing: border-box;
    display: block;
    padding-top: 100px;
}

.main {
    width: 80%;
    position: relative;
    display: inline;
}

.main h3 strong {
    font-family: fantasy;
    font-size: 38px!important;
    line-height: 38px!important;
    color: #dc5127!important;
}

.main p {
    font-size: 27px;
    font-family: serif;
}

.from-left {
    float: left;
    transform: translateX(-100%)   /* moves content */
}

.from-right {
    float: left;
    transform: translateX(100%)
}

.from-left,
.from-right {
    transition: opacity 1000ms ease-in, transform 800ms ease-in;
    opacity: 0;
    display: inline;
}

.from-left.appear,
.from-right.appear {
    transform: translateX(0);
    opacity: 1;
}

/* /About Me */

/* Post Slider */

.slider-container {
    height: 600px;
    background: rgb(132, 214, 214);
}

.post-slider {
    position: relative;
    height: 400px;
    padding-top: 100px;
}

.post-slider h2 {
    margin: 0;
    color: rgb(121, 120, 120);
}

.post-slider a {
    margin: 0;
    color: rgb(121, 120, 120);
}

.post-slider a:hover {
    margin: 0;
    color: rgb(126, 186, 243);
    cursor: pointer;
    text-decoration: none;
}


.post-slider .next {
    position: absolute;     /* next button will be positioned absolute (relative to .post-slider container */
    top: 40%;               /* positions the arrows at the right height relative to container */
    right: 30px;
    font-size: 2em;
    color: rgb(65, 53, 53);
    cursor: pointer;
}

.post-slider .prev {
    position: absolute;     /* prev button will be positioned absolute (relative to .post-slider container */
    top: 40%;
    left: 30px;
    font-size: 2em;
    color: rgb(65, 53, 53);
    cursor: pointer;
}

.post-slider .post-wrapper {
    width: 84%;             /* setting width will leave a gap between slider div and side of page */
    height: auto;
    margin: 0 auto;         /* setting margin auto ensures div is centered on page */
    overflow: hidden;
    padding: 50px 0 10px 0;
}

.post-slider .post-wrapper .post {
    width: 300px;
    height: 380px;
    margin: 0 10px;
    display: inline-block;
    background: rgb(132, 214, 214);
    box-shadow: 1rem 1rem 1rem --1rem rgb(207, 94, 94);
}

.post-slider .post-wrapper .post .info-wrapper {
    height: 75px;
    background: rgb(158, 158, 143);
}

.post-slider .post-wrapper .post .post-info {
    height: 70px;     /* this is the remaining space in the .post div, which isnt taken up by img*/
    color: rgb(121, 120, 120);
    background: white;
}

.post-slider .post-wrapper .post .slider-image {
    width: 100%;
    height: 300px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* //Post Slider */

/* Youtube Section */

.ytube {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 100px;
    padding-bottom: 150px;
}

.wrapper2 {
    margin: 0 auto;
    width: 33%;
}

.videowrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0px;
}

.videowrapper iframe {
    position: absolute;         /* P: Abs: this moves content relative to its container */
    left: 0px;                  /* these 4 styles mean it will be 0px from each side of the videowrapper */
    top: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;               /* these ensure it will be the height and width of the wrapper */
    width: 100%;
}

/* Divider */

.divider {								/* minor cosmetics */
    display: table; 
    text-transform: uppercase;
    font-size: 24px; 
    text-align: center; 
    width: 75%; 						/* divider width */
    margin: 40px auto;					/* spacing above/below */
}
.divider span { display: table-cell; position: relative; }
.divider span:first-child, .divider span:last-child {
    width: 50%;
    top: 13px;							/* adjust vertical align */
    -moz-background-size: 100% 2px; 	/* line width */
    background-size: 100% 2px; 			/* line width */
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
}
.divider span:first-child {				/* color changes in here */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#000));
    background-image: -webkit-linear-gradient(180deg, transparent, #000);
    background-image: -moz-linear-gradient(180deg, transparent, #000);
    background-image: -o-linear-gradient(180deg, transparent, #000);
    background-image: linear-gradient(90deg, transparent, #000);
}
.divider span:nth-child(2) {
    color: #000; padding: 0px 5px; width: auto; white-space: nowrap;
}
.divider span:last-child {				/* color changes in here */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
    background-image: -webkit-linear-gradient(180deg, #000, transparent);
    background-image: -moz-linear-gradient(180deg, #000, transparent);
    background-image: -o-linear-gradient(180deg, #000, transparent);
    background-image: linear-gradient(90deg, #000, transparent);
}

/* Footer */

.footer-end footer {
    display: flex;
    background: black;
    color: grey;
    font-size: 14px;
    text-align: center;
}

.footer-end footer p {
    left: 0;
}

.footer-end footer ul {
    position: absolute;
    right: 0;
    margin-bottom: 0;
}
/* Social Button CSS */

.footer-end footer ul .share-btn {
    display: inline-block;
    color: #ffffff;
    border: none;
    padding: 0 0.5em 0 0.5em;
    width: 4em;
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
    outline: none;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

.share-btn:hover {
  color: #eeeeee;
}

.share-btn:active {
  position: relative;
  top: 2px;
  box-shadow: none;
  color: #e2e2e2;
  outline: none;
}