@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

/* NOTES
box-sizing: ensures padding & boarder get included into width of element */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background: #e7e7e7;
}

.wrapper {
    width: 100%;
}

.mega-menu {
    width: 100%;
    height: 60px;
}

.mega-menu ul {
    width: 100%;
    height: 100%;
    background: #050405;
    line-height: 59px;
    text-align: center;
    position: relative;
}

.mega-menu ul li {
    display: inline-block;
    margin: 0 15px;
    padding: 0 15px;
}

/* NOTES
disply: block; ensures cursor becomes pointer over whole element, not just over spript */


.mega-menu ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 12px;
    display: block;
}

.mega-menu ul li .sub_menu {
    position: absolute;
    background: #ad9da6;
    width: 100%;
    left: 0;
    top: 60px;
    padding: 25px 15px;
    display: flex;
    justify-content: space-around;
    line-height: 24px;
    visibility: hidden;
}

.mega-menu ul li:hover {
    background: #ad9da6;
}

.mega-menu ul li:hover a{
    color: #ca914e;
}

.mega-menu ul li:hover .sub_menu{
    visibility: visible;
}

.mega-menu ul li .sub_menu .col img {
    width: 300px;
    height: 300px;
    display: block;
}

.mega-menu ul li .sub_menu p {
    color: #fff;
    margin-top: 15px;
    font-size: 14px;
}